@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@import 'tailwindcss';

@theme {
    --color-teal: #008080; /* Teal color 008080 */
    --color-silver: #c0c0c0; /* Silver color c0c0c0 */
    --color-silver-light: #e0e0e0; /* Silver light color e0e0e0 */
    --color-navy: #000080; /* Navy color 000080 */ 
    --color-charcoal: #222222; /* Charcoal color 222222 */ 
    --color-paper: #fefefe; /* Paper color fefefe */ 
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'VT323', monospace;
    /* cursor: url('./assets/cursor_arrow.png') 0 0, auto; */
}

/* a:hover,
button:hover,
input[type="submit"]:hover,
.desktop-icon:hover,
.start-menu-item:hover {
    cursor: url('./assets/cursor_hand.png') 0 0 16 16;
}

body:active,
a:active,
button:active,
input[type="submit"]:active {
    cursor: url('./assets/cursor_hand.png') 0 0, auto;
}

.title-bar {
    cursor: url('./assets/cursor_move.png') 0 0, auto; /* Default for draggable 
}

.title-bar:active {
    cursor: url('./assets/cursor_drag.png') 0 0, auto; /* When actively dragging 
}

input[type="text"],
textarea {
    cursor: url('./assets/cursor_typing.png') 0 0, text;
} 
*/

/* Add rules for cursor_resize.png if you have resize handles */
/* Example:
.resize-handle {
    cursor: url('./assets/cursor_resize.png') 0 0, nwse-resize;
}
*/

.btn-retro {
    background-color: var(--color-silver); 
    border: 1px solid #fff;
    border-right-color: #000;
    border-bottom-color: #000;
    box-shadow: 1px 1px 0px #000;
}

.btn-retro:active {
    border-top-color: #000;
    border-left-color: #000;
    border-right-color: #fff;
    border-bottom-color: #fff;
    box-shadow: -1px -1px 0px #fff;
}

.shadow-inner-white {
    box-shadow: 1px 1px 0 #fff inset;
}

.shadow-inner-black {
    box-shadow: 1px 1px 0px #000 inset;
}

.shadow-inner-grey {
    box-shadow: 1px 1px 0px #808080 inset;
}