.landing-page {
  background-color: #111111;
}

body {
  color: #EAEAEA; /* Global text color for dark mode */
  padding: 0 2rem; /* Generous left and right padding */
}

.hero-section {
  min-height: calc(100vh - 4rem); /* Full viewport height minus header height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 6rem;
  color: #ffffff; /* Ensure text is visible on dark background */
  position: relative;
  overflow: hidden;
}



.hero-headline {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  max-width: 80vw;
  color: #EAEAEA; /* New text color */
}

.hero-tagline {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  max-width: 800px;
  color: #EAEAEA; /* New text color */
}

.hero-ctas {
  display: flex;
  gap: 1.5rem;
  justify-content: flex-start;
}

.button {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.button.primary {
  background-color: #96AA58;
  color: #333333;
  border: 1px solid #96AA58; /* Keep border for consistency, though it will match background */
  margin-right: 1rem;
  filter: brightness(1.1);
}

.button.primary:hover {
  background-color: var(--primary-accent);
  filter: brightness(0.8); /* Darken by 20% */
  color: #ffffff;
}

.button.secondary {
  background-color: transparent;
  color: #EAEAEA;
  border: 1px solid #EAEAEA;
}

.button.secondary:hover {
  background-color: var(--text);
  color: var(--background);
}

.featured-project-card {
  border: 1px solid #38383A;
  background-color: #1C1C1E;
  padding: 1.5rem; /* Internal padding for project card */
  text-align: left; /* Left-align content within project card */
}

.project-card-content a {
  color: #96AA58;
}

.landing-page h2 {
  border: none;
  font-weight: 700;
  color: #EAEAEA;
}

.summary-about-me {
  margin-bottom: 4rem; /* Increased vertical space */
}

.featured-projects {
  margin-bottom: 4rem;
}

.summary-about-me p {
  opacity: 0.8;
}